.main {
    display: flex;
    background-color: white;
    height: 1000px;
    width: 100%;
    padding-top: 25px;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 10px 30px -10px inset;
}

.summary-wrapper {
    display: flex;
    height: 400px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.summary-wrapper > .sum-head {
    width: 600px;
    padding-left: 70px;
    font-size: 1.1em;
}

.summary-wrapper > .sum-text {
    width: 550px;
}