/* Main Syle */

.navigation-wrapper {
    height: 600px;
    width: 100%;
    color: #fcfcfc;
    background-image: url(../Images/ForestBG6.jpeg);
    font-family: "PT Sans", sans-serif;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 10px 30px -10px inset;
    background-color: #576c3f;
    background-size: cover;
    background-repeat: no-repeat;
}

.navigation-wrapper > .drophead {
    display: flex;
    justify-content: space-between;
    position: relative;
}

/* Link Transition */

.navigation-wrapper > .drophead > .navbar a{
    position: relative;
    color: #fcfcfc;
    text-decoration: none;
  }
  
.navigation-wrapper > .drophead > .navbar a:hover {
    color: #fcfcfc;
  }
  
.navigation-wrapper > .drophead > .navbar a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fcfcfc;
    transform: scaleX(0);
    transition: transform 0.4s ease;
  }
  
.navigation-wrapper > .drophead > .navbar a:hover::before {
    transform: scaleX(1);
  }

/* Logo Sytles */

.navigation-wrapper > .drophead > .logo {
    margin-left: 20px;
    display: flex;
    font-family: "Playfair Display", serif;
}

.navigation-wrapper > .drophead > .logo img {
    height: 100px;
    width: 105px;
}

/* NavBar Styles */

.navigation-wrapper > .drophead > .navbar {
    color: #fcfcfc;
    font-family: 'Montserrat', sans-serif;
    padding-right: 65px;
    padding-top: 35px;
}

/* Head Text */

.head-text {
  width: 700px;
  position: absolute;
  bottom: 150px;
  left: 100px;
  font-size: 1.7em;
  display: flex;
  font-family: 'Montserrat', sans-serif;
}
